name: Trojan Auto Scraper Engine
on:
  schedule:
    - cron: '0 * * * *'
  workflow_dispatch:
jobs:
  scrape_job:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'
      - name: Install
        run: pip install selenium selenium-stealth requests webdriver-manager
      - name: Run
        run: python scraper.py
      - name: Push to Repository
        run: |
          git config --global user.name "Trojan-Bot"
          git config --global user.email "haekalsaputra01h@gmail.com"
          git add hasil/ # Paksa folder hasil masuk
          git commit -m "Auto Harvest [$(date)]" || echo "No changes"
          git push
